In [1]:
import pandas as pd

In [10]:
dic = {'key':[1,2],
      'other':[3,4]}

print(dic)

{'key': [1, 2], 'other': [3, 4]}

In [11]:
x = pd.DataFrame.from_dict(dic)

In [12]:
x

   key  other
0    1      3
1    2      4

In [15]:
x.to_csv('csv.csv')

In [ ]:
post_id = link_to_post  # Todo: extract ID from link?

# For videos, this grabs VIEWS.  For photos, this grabs LIKES.
# metadata["views"] = popup.find_element_by_xpath("//div/section/div/span/span").get_attribute("innerHTML")

comments = []
for comment in popup.find_elements_by_xpath("//div/div/ul/li/span"):
    comments.append(comment.get_attribute("text"))
posts[post_id] = comments
temp = pd.DataFrame.from_dict(posts)
temp.to_csv('{}.csv'.format(count))
count +=1